{profiles,
 [{test, [{deps,
           [{vnet,
             {git, "https://github.com/klarna/vnet.git",
              {branch, "master"}}}]
          }]
  },
  {examples, [{project_app_dirs, ["examples/*", "."]}]}]
}.

{erl_opts, [debug_info, warn_export_vars,
            {platform_define, "linux", 'HAVE_SYNC_DIR'}]}.
{minimum_otp_vsn, "22"}.
{dialyzer, [{warnings,
             [error_handling,
              race_conditions,
              unmatched_returns]}]}.

{xref_extra_paths, ["test"]}.
{xref_checks,[undefined_function_calls,
              undefined_functions,
              locals_not_used,
              deprecated_function_calls,
              deprecated_functions]}.
{plugins, [pc]}.
{provider_hooks,
 [{pre, [{compile, {pc, compile}},
         {clean, {pc, clean}}]}]}.
{port_specs, [{"linux", "priv/sync_nif.so", ["c_src/sync_nif.c"]}]}.
{port_env, [{"CFLAGS", "$CFLAGS -Wall -Werror -std=gnu99"}]}.
