{profiles,
 [{test, [{deps,
           [{vnet,
             {git, "https://github.com/klarna/vnet.git",
              {branch, "master"}}}]
          }]
  }]
}.

{erl_opts, [debug_info, warn_export_vars]}.
{dialyzer, [{warnings,
             [error_handling,
              race_conditions,
              unmatched_returns]}]}.

%% TODO: look more into these
{xref_extra_paths, ["test"]}.
{xref_checks,[undefined_function_calls,
              undefined_functions,
              locals_not_used,
              deprecated_function_calls,
              deprecated_functions]}.
