%% If you make changes to this file, make sure to make corresponding changes
%% to rebar2.config as well (if applicable).

{profiles,
 [{test, [{deps,
           [{vnet,
             {git, "https://github.com/couchbasedeps/vnet.git",
              {branch, "master"}}}]
          },
          {dialyzer, [{plt_extra_apps, [eunit, vnet]}]}]
  },
  {examples, [{project_app_dirs, ["examples/*", "."]},
              {dialyzer, [{plt_extra_apps, [cowboy, jiffy]}]}]}]
}.

{escript_main_app, chronicle}.
{escript_name, chronicle_dump}.
{escript_emu_args, "%%! -escript main chronicle_dump\n"}.

{src_dirs, ["src", "scripts/chronicle_dump"]}.
{erl_opts, [debug_info, warn_export_vars,
            {platform_define, "linux", 'HAVE_SYNC_DIR'}]}.
{erl_first_files, ["src/dynamic_supervisor.erl"]}.
{minimum_otp_vsn, "22"}.
{dialyzer, [{warnings,
             [error_handling,
              race_conditions,
              unmatched_returns,
              unknown]}]}.

{xref_extra_paths, ["test"]}.
{xref_checks,[undefined_function_calls,
              undefined_functions,
              locals_not_used,
              deprecated_function_calls,
              deprecated_functions]}.
{plugins, [pc]}.
{provider_hooks,
 [{pre, [{compile, {pc, compile}},
         {clean, {pc, clean}}]},
  {post, [{compile, escriptize}]}]}.
{port_specs, [{"linux", "priv/sync_nif.so", ["c_src/sync_nif.c"]}]}.
{port_env, [{"CFLAGS", "$CFLAGS -Wall -Wno-unused-command-line-argument -Werror -std=gnu99"}]}.
