%% This is a rebar2 compatible rebar.config file used as part of the
%% couchbase-server build. If you change something here, make sure to make
%% corresponding changes to rebar.config as well.

{escript_main_app, chronicle}.
{escript_name, chronicle_dump}.
{escript_emu_args, "%%! -escript main chronicle_dump\n"}.

{erl_opts, [debug_info, warn_export_vars,
            {i, ["src"]},
            {src_dirs, ["src", "scripts/chronicle_dump"]},
            {platform_define, "linux", 'HAVE_SYNC_DIR'}]}.
{erl_first_files, ["src/dynamic_supervisor.erl"]}.

{port_specs, [{"linux", "priv/sync_nif.so", ["c_src/sync_nif.c"]}]}.
{port_env, [{"CFLAGS", "$CFLAGS -Wall -Werror -std=gnu99"}]}.
